*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 90%;
}

/*top bubble or header styles*/
header {
    display: flex;
    border: solid 2px black;
    margin: 5px;
    background-color: rgba(210, 180, 140, 0.263);
    border-radius: 8px;
    justify-content: space-between;
}
#headerBlock1 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: center;
}
nav button {
    border: none;
    padding: 5px;
    margin: 2px 4px;
    border-radius: 8px;
    background: none;
    font-weight: bold;
    color: seagreen;
}
#monthlyTotalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#monthlyTotal {
    font-size: 1.8rem;
}

/*filter Button styles*/
#filtersBar {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
#filtersBar button {
    padding: 5px;
    font-weight: bold;
}

/*table styles*/
.bubbleTable table {
    justify-self: center;
    width: 100%;
    border-collapse: separate;
    background: transparent;
}
caption {
    font-size: 2rem;
    border: solid 6px black;
}
th {
    border: solid 4px black;
    border-radius: 4px;
}
.topRow td {
    border: solid 2px black;
    border-radius: 4px 4px 0 0;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
}
.description {
    border: solid 2px black;
    border-top-style: none;
    border-radius: 0 0 4px 4px;
}
#groceryTotalContainer {
    display: flex;
    justify-content: space-around;
}
#miscTotalContainer {
    display: flex;
    justify-content: space-around;
}
#catTotalContainer {
    display: flex;
    justify-content: space-around;
}
#medicineTotalContainer {
    display: flex;
    justify-content: space-around;
}
.bubbleTable {
    border: solid 2px black;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
